<h1>Edit</h1>

<%= render 'form' %>

<h1>Delete</h1>

<%= form_for(@markdown, :html => { :method => :delete}) do |f| %>
  <%= f.text_field :pass, :placeholder => 'password' %>
  <%= f.submit 'delete' %>
<% end %>
